.main_body {
  height: 95vh;
  border: 2px solid black;
  width: 330px;
  margin: auto;
  padding: 10px;
  background-color: #1a1b28;
  box-shadow: 2px 2px 5px rgb(129, 127, 127);
}
body input {
  width: 50px;
  height: 50px;
  font-size: 1.3em;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #242c41;
  color: white;
  box-shadow: 3px 3px 5px #242c41;
  font-weight: bolder;
}
table td{
    padding: 10px;
}
#result {
  width: 190px;
  height: 120px;
  border-right: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  font-size: 2.5em;
  padding: 5px;
  border-radius: 0;
  color: white;
  background-color: #1a1b28;
}
input[value="CLR"],
input[value="CE"] {
  background-color: #52c9dc;
  color: white;
}

input[value="="] {
  background-color: #52c9dc;
  color: white;
}
input[value="*"], input[value="/"], input[value="+"], input[value="-"] {
    background-color: #52c9dc;
    color: white;
}

